$header-bg: black;
$header-text: white;
$navbar-hover: rgb(19, 16, 16);

.header__logo {
  text-align: center;
}

.header__logo img {
  height: 50px;
}

nav {
  background: $header-bg;
  ul {
    display: flex;
    text-decoration: none;
  }
  li {
    list-style: none;
    padding: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      background: $navbar-hover;
    }
  }
  a.link {
    color: $header-text;
    text-decoration: none;
  }
}
